@font-face {
  font-family: "Chivo";
  font-weight: 300;
  font-style: normal;
  src: url("fonts/chivo-light.woff2") format("woff2");
}

@font-face {
  font-family: "Chivo";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/chivo-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Chivo";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/chivo-bold.woff2") format("woff2");
}

@font-face {
  font-family: "Chivo";
  font-weight: 400;
  font-style: italic;
  src: url("fonts/chivo-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Coustard";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/coustard-black.woff2") format("woff2");
}
